.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-align:right;
    direction: rtl;
}

.content {
    margin-top: 0;
    text-align: right;
    margin-left: 500px;
    text-decoration: none;
    position: fixed;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
    text-align:right;
    direction: rtl;
}

.date {
    color: #828282;
    text-align:right;
    direction: ltr;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    text-align:right;
    direction: rtl;
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    text-align:right;
    direction: rtl;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    direction: rtl;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
